body{
    background:#B0E0E6;
}
aside{
    float: left;
    background: #87CEEB;
    width: 15.5%;
    padding: 2.5%;
    height: 300vh;
    color: red;
    border-right: 5px solid#
    }

aside .logo{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -20px;
    left: -20px;
}

aside h3{
    margin-top:25px;
    }

aside ul {list-style: none}
aside ul li {
    display: block;
    margin-top: 10px;
    margin-left: -15px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.05);
}
li button
   {
    width: 140px;
    height:40px;
    font-weight: bold;
    position: relative;
    top: -5px;
    left: -20px;
    height: 55px;
    }

main .features{
    float: right;
    margin-top: 30px;
    text-align: center;
    width: 75%;
    }

main .features h1{
    font-size: 50px;

    max-width: 670px;

    }

main .features p{
    max-width: 600px;
    margin: 20px auto
    text-align: center;
    }

main .articles{
    max-width: 100px;
    margin: 20px;
    }

main .articles img{
    width: 200px;
    height: 100px;
    }



main .img_detail_view img{
    width: 300px;
    display:block;
    margin:auto;
    }
main .img_detail_view h1{
    text-align: center;
    }
main .img_detail_view p{
    text-align: center;
    }

main .img_detail_view{
    padding-top: 10%
    }

aside{
    position: fixed;
}

#container {
  text-align: justify;
  margin-right: 150px;
}
#container > div {
  width: 100px;
  display: inline-block;
  vertical-align: top;

  /* IE fix. */
  *display: inline;
  zoom: 1;
}
#container:after {
  content: "";
  width: 75%;
  display: inline-block;
}


main .features h1{
    text-align: center;
        }



a.btb.btb-add{
     margin-left: 700px;
     padding-left: 10px;
     padding-right: 10px;
     color: #fff;
     background: #FF0000;
     padding: 14px 20px;
     border-radius: 6px;
     font-size: 13px;
     transition: transform .2s;

    }

a.btb.btb-add:hover {
    transform: scale(1.5);
    background: #B22222;
    color: ##FF0000;
    box-shadow: inset 0 0 0 3px ##FF0000;
   }


a.btb.btb-del{
    bottom: -24px;
    position: relative;
    margin-left: 550px;
    color: #fff;
    background: #7FFF00;
    padding: 14px 20px;
    border-radius: 6px;
    font-size: 13px;
    transition: transform .2s;
    padding-right: 50px;
    padding-left: 45px;

    }

.btb.btb-del:hover {
    transform: scale(1.5);
    background: #32CD32;
    color: ##FF0000;
    box-shadow: inset 0 0 0 3px ##FF0000;
   }



a.btb.btb-cal{
    bottom: -4px;
    position: relative;
    margin-left: 30px;
    color: #fff;
    background: #7FFF00;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 12px;
    transition: transform .2s;
    padding-right: 30px;
    padding-left: 45px;
    top: -17px;
    }

a.btb.btb-cal:hover {
    transform: scale(1.2);
    background: #32CD32;
    color: ##FF0000;
    box-shadow: inset 0 0 0 3px ##FF0000;
   }



main .logistic{
    float: right;
    margin-top: 30px;
    text-align: center;
    width: 75%;
    margin-right: 64px;
    }

main .logistic h1{
    font-size: 50px;
    max-width: 670px;
    text-align: center;
    }

main .logistic p{
    max-width: 600px;
    margin: 20px auto
    text-align: center;
    }


main .home_page img{
    width: 900px;
	height: 450px;
	margin-left: -200px;
    }


main .home{
    float: right;
    margin-top: 30px;
    text-align: center;
    width: 75%;
    margin-top:-5px;
    }

main .home h1{
    font-size: 50px;

    max-width: 670px;

    }

main .home p{
    max-width: 600px;
    margin: 20px auto
    text-align: center;
    }


a.btb\.btb-animals_{
    bottom: -4px;
    position: relative;
    margin-left: -220px;
    color: #fff;
    background: #FF6347;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 16px;
    transition: transform .2s;
    padding-right: 30px;
    padding-left: 40px;
    top: -5px;
    }

a.btb\.btb-animals_:hover {
    transform: scale(1.2);
    background: #FF0000;
    color: ##FF0000;
    box-shadow: inset 0 0 0 3px #FF0000;
   }

button.button-entrance {
    position: relative;
    margin-left: -130px;
    color: #fff;
    background: #FF0000;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 16px;
    transition: transform .2s;
    padding-right: 20px;
    padding-left: 20px;
    top: 85px;
    }

button.button-entrance:hover {
    transform: scale(1.1);
    background: #DC143C;
    color: ##FF0000;
    box-shadow: inset 0 0 0 3px #DC143C;
    padding-right: -10px;
    padding-left: -10px;
   }

button.button-register {
    margin-left: -45px;
    color: #fff;
    background: #0000FF;

    border-radius: 6px;
    font-size: 16px;
    transition: transform .2s;
    margin-top: 35px;
    position: relative;
    left: 55%;
    top: 50px;
    }

button.button-register:hover {
    transform: scale(1.1);
    background: #008080;
    color: ##FF0000;
    box-shadow: inset 0 0 0 3px #008080;
   }





form{
    box-sizing: border-box;
    margin-left: 250px;
    margin-top: 35px;
    position: absolute;
    }

main form{
    box-sizing: border-box;
    margin-left: 210px;
    margin-top: 45px;
    }


ul.errorlist{color: red;}