{% extends "help_a/double.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="features">
    <h1>Контакты</h1>
    <p>Если у вас возникли вопросы мы с радостью ответим!</p>
    <p>Наш адрес: Тель-Авив, Израиль, Бецалель, 3 - <a href="tel:+972 77 432 1814">Tel:+972 77 432 1814</a></p>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1b9e065d8ce94dbd8add4e80e75442069d396a3ef03e2f8ad8f611857cfe6a53&amp;width=943&amp;height=430&amp;lang=ru_RU&amp;scroll=true"></script></br>
    <a href="{% url 'home' %}" class="btb btb-cal">На главную страницу</a>
</div>
{% endblock %}